
# DFX CANISTER ENVIRONMENT VARIABLES
DFX_VERSION='0.28.0'
DFX_NETWORK='ic'
CANISTER_CANDID_PATH_PAYMENT_SYSTEM_BACKEND=
CANISTER_ID_PAYMENT_SYSTEM_FRONTEND=
CANISTER_ID_PAYMENT_SYSTEM_BACKEND=
CANISTER_ID_LANDING_FRONTEND=
CANISTER_ID=
CANISTER_CANDID_PATH=
# END DFX CANISTER ENVIRONMENT VARIABLES